@model List<Report>
@using ClassLibDb.ViewModels

@{
    ViewData["Title"] = "Yearly Report";
}

<h1>Report</h1>
<h4>Yearly Donations</h4>
<hr>

<div id="yearlyReport">
    <h4>Donations made to Donation System</h4>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Year</th>
                    <th>Total Amount</th>
                </tr>
            </thead> 
            <tbody>
                @foreach (var yearlyReport in Model)
                {
                    <tr>
                        <td>@yearlyReport.Year</td>
                        <td>@yearlyReport.TotalAmount.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>